.nav-title {
  font-size: 35px;
  color: black;
}
.navbar {
  background-color: #6caddc;
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 100;
  position:fixed;
}

.navbar li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
  text-align: center;
  width: 33.3%;
}
.default {
  color: blueviolet;
  font-size: 20px;
}
.correct {
  color: green;
  font-size: 25px;
}

.incorrect {
  color: red;
  font-size: 35px;
}
