
  .card > .img-container {
    text-align: center;
    background:#6CADDC;
    border-style:solid;
    padding:30px;
    margin-top: 10px;
    height: auto;
  }
  .image-icon{
    width:100%
  }
 
 